<script
  src="{{ 'gift-card-recipient-form.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>
<quick-add-dialog id="quick-add-dialog">
  <dialog
    class="quick-add-modal dialog-modal color-custom-popover"
    ref="dialog"
    scroll-lock
  >
    <button
      ref="closeButton"
      on:click="/closeDialog"
      class="button button-unstyled close-button quick-add-modal__close"
      aria-label="{{ 'accessibility.close_dialog' | t }}"
    >
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>

    <product-component
      id="quick-add-modal-content"
      class="quick-add-modal__content"
      view-event-trigger="dialog"
    ></product-component>
  </dialog>
</quick-add-dialog>

{% render 'quick-add-modal-styles' %}
{% render 'product-media-gallery-content-styles' %}
